
.head-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 998;
  display: flex;
  justify-content: space-between;
  background: #c50206;
  height: 45px;
  padding: 0 20px;
  align-items: center;
}

.header-right {
  align-self: center;
  .icon-icon{
    font-size: 20px;
  }
}

.head-main {
  a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
  }
}

.header-pic {
  width: 130px;
}

/* 轮播图开始 */
.slider{
  height: 3.75rem;
  width: 100%;
}
.slider a {
  display: block;
  height: 100%;
  width: 100%;
}

.slider img {
  display: block;
  width: 100%;
  height:100%;
}

.swiper-slide-active {
  height: auto
}

.slider-wrap {  
  position: relative;
  height: 100%;
  .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 12px;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding-left: .1rem;
  }
}

//菜单开始
.main-menu {
  display: flex;
  margin-top:.6rem;
  flex-direction: column;
  justify-content: space-around;
  height: 3.94rem;
  background: url('../assets/bt_bg.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
}
.menu-row {
  display: flex;
  justify-content: space-between;
  a {
    flex: 1;
    text-align: center;
    font-size: 12px;
    color:#667;
    img {
      width: 1rem;
      height: 1rem;
      display: block;
      margin:.1rem auto;
    }
  }
}
.banner img {
  display: block;
  width: 100%;
}

//首页底部随时学菜单
.footer-menu {
  display: block;
  width: 100%;
  display: flex;
  height: 3.3rem;
   background: url(../assets/tese.png) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin-bottom: 1.1rem;
  .menu-left {
    flex: 1;
    height: 100%;
  }
  .menu-right {
    flex: 2;
    .row {
      height: 50%;
      display: flex;
      a {
        flex: 1;
        height:100%;
      }
    }
  }
}

